.headers{
	background-image: url(../images/landing.jpg);
}
.logo{
	padding-left:40%; 
	padding-top: 10%;
}
h1{
	text-align:center;
	color:white;
}
.brkfast{
	background-image: url("../images/foodtop/breakfast.jpg");
	height: 33%;
	color: white;
	text-align: center;
}
.din{
	background-image: url("../images/dinner.jpg");
	height:33%;
	color:white;
	text-align:center;
}
.lun{
	background-image: url("../images/lunch.jpg");
	height: 33%;
	color: white;
	text-align: center;
}
#hour{
	background-color: white;
	height: 10%;
}
#time{
	background-color: #F15A29;
     height: 10%;
     color: white;
}
p{
	font-size: 16px;
}
.jumbotron{
	padding-top: 7%;
	background-color: white;
	margin-left: 8%;
	margin-right: 5%;
}
.con{
	background-image:url("../images/backgrounds/foodsBg.jpg");
	height: 70%;
}
.panel-title{
	color: red;
	font-family: sans-serif;
	font-size: 25px;
}
.co{
	padding-top: 10%;
}
.cont{
	background-color: #F15A29;
	height: 50%;
}
#gallery{
	color: red;
}

}
#cent{
	text-align: center;
	
}
#food{
	padding-left: 15%;
	padding: 11%;
	padding-right: 18%;
}
.sub{
	background-image:url(../images/subscribe.jpg);
	height: 50%; 
}
.email{
	color: white;
	font-size: 30px;
}